# In the name of God
import os


class Config:
    base_file_url = os.environ.get("BASE_FILE_URL", "https://tapi.bale.ai/file/")
    base_url = os.environ.get("BASE_URL", "https://tapi.bale.ai/")
    goodi_token = os.environ.get("GOODI_TOKEN", "")
    goodi_secret = os.environ.get("GOODI_SECRET", "")
    bot_token = os.environ.get("BOT_TOKEN", "")